/* Global */

body {
    background: url(../img/footer_lodyas.png);
}

/* Navigation */

a {
    background: darkgray;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 100px;
}

a:link, a:visited {
    color: crimson;
}

a:hover {
    color: whitesmoke;
    
}

li {
    display: inline;
    float: 
}
/* Layout */

/* Typography */

h1, h2 {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto Slab', serif;
}


/* Images */

img {
   width: 50%; 
}

#fblogo {
    width: 5%;
}

#instlogo {
    width: 5%;
}

#twitlogo {
    width: 5%;
}