/* Global */

body {
    background: url(../img/concrete_seamless.png);
}

a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    height: 39px;
}

li {
    list-style: none;
}
/* Navigation */

nav a {
    background-color: #590212;
}

nav a:link, a:visited {
    color: white;
    transition: all .5s;
    padding: 10px 20px;
}

nav a:hover {
    background-color: white;
    color: #590212;
}

nav li {
    display: inline;
}


nav ul {
    width: 100%;
    background: #590212;
    height: 39px;
    position: relative;
}

/* Layout */

header h1, h2{
    text-align: center;
}

footer section{
    text-align: center;
}

/* Typography */

h1, h2 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto Slab', serif;
    background-color: darkgray;
}



/* Images */

img {
    max-width: 100%;
}

#fblogo {
    border-radius: 25%;
    width: 50%;
}

#twitlogo {
    border-radius: 25%;
    width: 50%;
}

#me {
    border-radius: 50%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nav Icons */

#home, #person, #resume, #portfolio {
    position: absolute;
    width: 1.5%;
}

#person {
    width: 1.3%;
    top: 25px;
    left: 149px;
}

#home {
    top: 23px;
    left: 43px;
}

#resume {
    top: 24px;
    left: 251px;
}

#portfolio {
    top: 24px;
    left: 353px;
}

/* Page Icons*/

#home-2, #portfolio-2, #resume-2, #person-2 {
    position: absolute;
    width: 10%;
    background: #590212;
    padding: 0px 7px;
    border-radius: 24%;
    top: 23px;
    right: 10px;
}

#portfolio-2 {
    right: 8px;
}

/*Gallery*/


/* Attribute selectors */

a[href^="https://"] {
    color: #590212;
}

a[href^="http://"] {
    color: #590212;
}